@import url("https://fonts.googleapis.com/css?family=Poppins");
body, html {
  font-family: Poppins;
  margin: 0;
  background: #084C61;
}

body a, html a {
  text-decoration: none;
}

header {
  padding: 2em;
}

header .logo {
  color: #000000;
  font-weight: bold;
}

header .menu-btn {
  float: right;
  cursor: pointer;
}

section {
  padding: 4em;
}

section h1 {
  font-size: 4em;
  margin: 1em auto;
  width: 70%;
}

section h1::before {
  content: ' ';
  border-top: 10px solid #92A7E0;
  display: block;
}

nav {
  position: absolute;
  background: #000000;
  padding: 2em;
  width: calc(100% - 4em);
  height: calc(100vh - 4em);
  display: none;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  z-index: 1;
}

nav .close-btn {
  width: 25px;
  height: 25px;
  float: right;
  cursor: pointer;
  height: 10px;
  opacity: 0;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0 auto;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  width: 80%;
}

nav a {
  color: #92A7E0;
  font-weight: bold;
  font-size: 1.4em;
}

nav span {
  color: #92A7E0;
  display: block;
  font-size: .75em;
  margin-top: 20px;
  padding: 0 10px 0 0;
}

nav li {
  opacity: 0;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 1s ease-in forwards;
          animation: slide-menu 1s ease-in forwards;
}

.show-menu .close-btn {
  -webkit-animation: show-x 1s 1s forwards;
          animation: show-x 1s 1s forwards;
}

.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim .6s forwards 1s ease-in-out;
          animation: menu-item-anim .6s forwards 1s ease-in-out;
}

.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim .6s forwards 1.2s ease-in-out;
          animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}

.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim .6s forwards 1.4s ease-in-out;
          animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}

.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim .6s forwards 1.6s ease-in-out;
          animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}

.show-menu li:nth-of-type(5) {
  -webkit-animation: menu-item-anim .6s forwards 1.8s ease-in-out;
          animation: menu-item-anim .6s forwards 1.8s ease-in-out;
}

.hide-menu {
  display: block;
  -webkit-animation: slide-menu-b 1s ease-out backwards;
          animation: slide-menu-b 1s ease-out backwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.hide-menu .close-btn {
  -webkit-animation: show-x-b 1s 1s backwards;
          animation: show-x-b 1s 1s backwards;
}

.hide-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim-b backwards 1s ease-out;
          animation: menu-item-anim-b backwards 1s ease-out;
}

.hide-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim-b backwards 1.2s ease-out;
          animation: menu-item-anim-b backwards 1.2s ease-out;
}

.hide-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim-b backwards 1.4s ease-out;
          animation: menu-item-anim-b backwards 1.4s ease-out;
}

.hide-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim-b backwards 1.6s ease-out;
          animation: menu-item-anim-b backwards 1.6s ease-out;
}

@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes slide-menu-b {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes slide-menu-b {
  from {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  to {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes show-x-b {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes show-x-b {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes menu-item-anim-b {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
}

@keyframes menu-item-anim-b {
  from {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  to {
    -webkit-transform: translateY(60%);
            transform: translateY(60%);
    opacity: 0;
  }
}

button {
  background-size: 10px 10px;
  background-color: #000000;
  border-block-end-color: #82656D;
}

.balls {
  padding: 100px;
  text-align: left;
  width: 70vw;
}

.top {
  color: #000000;
  margin-left: auto;
  margin-right: auto;
  width: 7em;
}

.more-balls {
  color: #000000;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}

.wrapper {
  margin-top: 33vh;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  padding: 20 20px;
  z-index: 0;
}

.contact-form {
  font-family: Poppins;
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.8);
  padding: 30px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}

.input-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4%;
}

.input-fields,
.msg {
  width: 48%;
}

.input-fields .input,
.msg textarea {
  font-family: Poppins;
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #084C61;
  padding: 10px;
  color: #F4f4f4;
}

.msg textarea {
  height: 212px;
  width: 90%;
}

::-webkit-input-placeholder {
  color: #f4f4f4;
}

.btn {
  background: #084C61;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #f4f4f4;
  cursor: pointer;
  text-transform: uppercase;
  border-color: #084C61;
  width: 100%;
}

.btn:hover {
  background: red;
}

@media screen and (max-width: 600px) {
  .contact-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .input-fields,
  .msg {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */