@import url('https://fonts.googleapis.com/css?family=Poppins');
$colors: (
    green: #084C61,
    lBlue: #92A7E0,
    purp: #82656D,
    grey: #5A525E,
    black: #000000 
);
body, html{
    font-family: Poppins;
    margin: 0;
    background: map-get($colors, green);
    a{
        text-decoration: none;
    }
}

header{
    padding: 2em;

    .logo{
        color:map-get($colors, black);
        font-weight: bold;
    }

    .menu-btn{
        float: right;
        cursor: pointer;
    }

   
}

section{
    padding: 4em;

    h1{
        font-size: 4em;
        margin: 1em auto;
        width: 70%;

        &::before{
            content: ' ';
            border-top: 10px solid map-get($colors, lBlue);
            display: block;
        }
    }
}

nav{
    position: absolute;
    background: map-get($colors, black);
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display:none;
    transform: scaleX(0);
    transform-origin: right;
    z-index: 1;
    
    
    .close-btn {
        width: 25px;
        height: 25px;
        float: right;
        cursor: pointer;
        height: 10px;
        opacity: 0;
        border-radius: 5px;
    }

    ul{
        list-style-type: none;
        margin: 10% auto 0 auto;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4,25%);
        width: 80%
    }

    a{
        color: map-get($colors,lBlue);
        font-weight: bold;
        font-size: 1.4em;
    }

    span{
        color: map-get($colors, lBlue);
        display: block;
        font-size: .75em;
        margin-top: 20px;
        padding: 0 10px 0 0;
    }
    
    li{
        opacity: 0;
    }

    
}

.show-menu{
    display: block;
    animation: slide-menu 1s ease-in forwards;

    .close-btn{
        animation: show-x 1s 1s forwards;
    }

    li:nth-of-type(1){
        animation:menu-item-anim .6s forwards 1s ease-in-out;
    }
    li:nth-of-type(2){
        animation:menu-item-anim .6s forwards 1.2s ease-in-out;
    }
    li:nth-of-type(3){
        animation:menu-item-anim .6s forwards 1.4s ease-in-out;
    }
    li:nth-of-type(4){
        animation:menu-item-anim .6s forwards 1.6s ease-in-out;
    }
    li:nth-of-type(5){
        animation:menu-item-anim .6s forwards 1.8s ease-in-out;
    }
}

.hide-menu{
    display: block;
    animation: slide-menu-b 1s ease-out backwards;
    animation-delay: 1s;
    .close-btn{
        animation: show-x-b 1s 1s backwards;
    }

    li:nth-of-type(4){
        animation:menu-item-anim-b backwards 1s ease-out;
    }
    li:nth-of-type(3){
        animation:menu-item-anim-b backwards 1.2s ease-out;
    }
    li:nth-of-type(2){
        animation:menu-item-anim-b backwards 1.4s ease-out;
    }
    li:nth-of-type(1){
        animation:menu-item-anim-b backwards 1.6s ease-out;
    }
}
// .logo{
//     width: 100px;
//     height: 100px;
//     border-radius: 40%;
//     background: map-get($colors,purp)
// }
@keyframes slide-menu{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}
@keyframes slide-menu-b{
    from{
        transform: scaleX(1);
    }
    to{
        transform: scaleX(0);
    }
}
@keyframes show-x{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes show-x-b{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes menu-item-anim{
    from{
        transform: translateY(60%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes menu-item-anim-b{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(60%);
        opacity: 0;
    }
}

button{
    background-size: 10px 10px;
    background-color: map-get($colors, black);
    border-block-end-color: map-get($colors,purp);
}
// div{
    
// }
.balls{
    padding: 100px;
    text-align: left;
    width: 70vw;
    // margin-left: 30%;
}
.top{
    color: map-get($colors, black);
    // padding: 2em;
    // position: fixed;
    // padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 7em;
}
.more-balls{
    color: map-get($colors, black);
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50em;
}

.wrapper{
    
    margin-top: 33vh;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 20 20px;
    z-index: 0;
}

.contact-form{
    font-family: Poppins;
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: row; // default
    box-shadow: 0 0 10px rgba(0,0,0,0.13);
    
}

.input-fields{
    
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg{
    width: 48%;
}

.input-fields .input,
.msg textarea{
    font-family: Poppins;
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid map-get($colors, green );
    padding: 10px;
    color:  #F4f4f4;
    // width: 100%;
}
.msg textarea{
    height: 212px;
    width: 90%;
}
::-webkit-input-placeholder{
    color: #f4f4f4;
}
.btn{
    background: map-get($colors, green);
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #f4f4f4;
    cursor: pointer;
    text-transform: uppercase;
    border-color: map-get($colors, green);
    width: 100%;
}
.btn:hover{
    background: red;
}

@media screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields,
    .msg{
        width: 100%;
    }
}